<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The Stock Exchange</string>
	<string>Long &amp; Short Positions</string>
	<string>https://www.dropbox.com/s/tyweys1jgn56fd1/Long%20%26%20Short%20Positions.mp4</string>
</array>
</plist>
