<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The Market Maker</string>
	<string>Trades &amp; Orders</string>
	<string>https://www.dropbox.com/s/covjkemk0dxjzki/Meet%20Orders.mp4</string>
	<string>https://www.dropbox.com/s/bpaqjrasvqdbyp1/Stock%20Orders.mp4</string>
	<string>Stock Analysis</string>
	<string>https://www.dropbox.com/s/3d2q4ii7bglvmye/Stock%20Research.mp4</string>
	<string>https://www.dropbox.com/s/e9ode3t6p6y9enj/Getting%20Quotes.mp4</string>
	<string>Reading Stock Charts</string>
	<string>https://www.dropbox.com/s/gncuzayaamamtaa/Reading%20Stock%20Charts.mp4</string>
	<string>Quiz #1</string>
</array>
</plist>
