 body {
    background-image: url("grey-bg.jpg");
    font-family: 'NeutraDisp-Medium';
    font-size: 110%;

 }

@font-face {
	font-family: 'NeutraDisp-Medium';
	src: url('NeutraDisp-Medium.otf')  format('truetype')
}
@font-face {
	font-family: 'NeutraDisp-Titling';
	src: url('NeutraDisp-Titling.otf')  format('truetype')
}
@font-face {
	font-family: 'NeutraDisp-Thin';
	src: url('NeutraDisp-Thin.otf')  format('truetype')
}
@font-face {
	font-family: 'NeutraDisp-Light';
	src: url('NeutraDisp-Light.otf')  format('truetype')
}
@font-face {
	font-family: 'NeutraDisp-Bold';
	src: url('NeutraDisp-Bold.otf')  format('truetype')
}


h1 {
font-family: 'NeutraDisp-Titling';
text-align: center;
color: #7b440f;
font-size: 110%;
background-image: url("tabbar.png");

}

h2 {
font-family: 'Arial';
color: #F2B019;
font-size: 80%;
}

h3 {
font-family: 'NeutraDisp-Bold';
font-size: 90%;
}

.CSSTableGenerator {
background-color: #ffffff;
border: 2px solid #747474;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0px 0px 10px #fff;
-webkit-box-shadow: 0px 0px 10px #fff;
box-shadow: 0px 0px 10px #fff;
filter: progid:DXImageTransform.Microsoft.Shadow(strength = 5, direction = 0, color = '#000');
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 0, Color = '#fff')";
}.CSSTableGenerator table{width:100%;margin:0px;padding:0px;}
.CSSTableGenerator tr:last-child td:last-child {
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;border-bottom-right-radius:10px;}

.CSSTableGenerator table tr:first-child td:first-child {
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;border-top-left-radius:10px;}

.CSSTableGenerator table tr:first-child td:last-child {
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;border-top-right-radius:10px;}
.CSSTableGenerator tr:last-child td:first-child{
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;border-bottom-left-radius:10px;}
.CSSTableGenerator tr:hover td{background-color:#747474;}

.CSSTableGenerator td{vertical-align:middle;background-color:#ffffff;text-align:left;padding:5px;font-family: NeutraDisp-Medium; color:#000000; font-size: 110%;}

.CSSTableGenerator tr:first-child td{	background-color:#ffffff;	text-align:left;border-width:0px 0px 1px 1px;font-family: NeutraDisp-Medium; color:#000000; font-size: 110%;}

