<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The Stock Exchange</string>
	<string>The Market Maker</string>
	<string>Trades &amp; Orders</string>
	<string>https://drive.google.com/uc?id=0B8-kcByiZO-NeFFLZzhLQ1hDRVk</string>
	<string>https://drive.google.com/uc?id=0B8-kcByiZO-NQU9CZFR6bTZUQUk</string>
	<string>Long &amp; Short Positions</string>
	<string>https://drive.google.com/uc?id=0B8-kcByiZO-NWGhFUzhDajdjOVU</string>
	<string>Stock Analysis</string>
	<string>https://drive.google.com/uc?id=0B8-kcByiZO-NNjRSVzBOSWlwemM</string>
	<string>https://drive.google.com/uc?id=0B8-kcByiZO-NczJEdloybklva1k</string>
	<string>Reading Stock Charts</string>
	<string>https://drive.google.com/uc?id=0B8-kcByiZO-NMExxZ0g5S3VtUEE</string>
	<string>Quiz #1</string>
</array>
</plist>
