<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Get Ready to Trade</string>
	<string>Select the Stock</string>
	<string>Find Option Trades</string>
	<string>Open a Position</string>
	<string>Close a Position</string>
	<string>Naked Option Orders</string>
	<string>Covered Call Orders</string>
	<string>Credit Spread Orders</string>
	<string>Quiz #4</string>
</array>
</plist>
