<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Get Ready To Trade</string>
	<string>Select The Stock</string>
	<string>https://www.dropbox.com/s/bt16y66m07j2d7t/Finding%20Trades.mp4</string>
	<string>Open A Position</string>
	<string>Close A Position</string>
	<string>https://www.dropbox.com/s/6dh2glylq4oq7i9/Naked%20Options.mp4</string>
	<string>https://www.dropbox.com/s/j5solxvdghlux9e/Covered%20Calls.mp4</string>
	<string>https://www.dropbox.com/s/v453y8e28itviy7/Credit%20Spreads.mp4</string>
	<string>Quiz #4</string>
</array>
</plist>
