<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>What Is An Option?</string>
	<string>Buying and Selling Options</string>
	<string>Possible Positions</string>
	<string>The House Rules</string>
	<string>Researching Options</string>
	<string>Quiz #2</string>
</array>
</plist>
