<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The Key To Profit</string>
	<string>Time vs. Intrinsic Value</string>
	<string>Bullish Strategies</string>
	<string>Bearish Strategies</string>
	<string>Sideways Strategies</string>
	<string>Volatility Strategies</string>
	<string>Protective Strategies</string>
	<string>Quiz #3</string>
</array>
</plist>
