<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>What Is An Option?</string>
	<string>https://www.dropbox.com/s/7tpo4glpqh291z1/What%20Is%20An%20Option%3F.mp4</string>
	<string>Buying &amp; Selling Options</string>
	<string>https://www.dropbox.com/s/lkt953rx6oo7fej/Bid-Ask%20Spread.mp4</string>
	<string>https://www.dropbox.com/s/73cittl8os21mca/Using%20Option%20Chains.mp4</string>
	<string>Possible Positions</string>
	<string>The House Rules</string>
	<string>https://www.dropbox.com/s/k3iz4cf8o11wms4/Expiration%20Date.mp4</string>
	<string>Quiz #2</string>
</array>
</plist>
