<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The Key To Profit</string>
	<string>https://www.dropbox.com/s/avn0d9rt8ieka18/Time%20vs.%20Intrinsic%20Value.mp4</string>
	<string>Bullish Strategies</string>
	<string>Bearish Strategies</string>
	<string>Sideways Strategies</string>
	<string>Volatility Strategies</string>
	<string>Protective Strategies</string>
	<string>Quiz #3</string>
</array>
</plist>
