<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>st9mivdXSS2-C4J-3SwZOw</string>
	<key>developmentAppSecret</key>
	<string>OKzrSjPkQcK8E-g7Y2Geyg</string>
	<key>productionAppKey</key>
	<string>Crn0f_8JQd2xZLHtjjxd1Q</string>
	<key>productionAppSecret</key>
	<string>VVmUANYGQOimhYoxMa_ODg</string>
</dict>
</plist>
